
@section Styles
{
    <style>
        h2 { border-bottom:1px solid #ddd; padding-bottom:20px; font-size:28px; }
        h3 { border-bottom:1px solid #ddd; font-size:20px; padding-bottom:20px; margin:20px 0; }
        div#main ul li { margin:20px 0; }        
        ul#exhibitions label,
        ul#qualifications label { font-weight:bold; margin-right:20px; }
        
    </style>
}

@section Main
{
    <h2>CV</h2>
    
    <h3 class="">Qualifications & Training</h3>

    <ul id="qualifications">
        <li>
            <label>Blackburn College:</label>
            <span>HND in Art and design, 2007-2009</span>            
        </li>
        <li>
            <label>Leeds College of Art:</label>
            <span>BA (Hons) Fine Art, 2009-2012</span>
        </li>
    </ul>

    <h3 class="">Exhibitions</h3>

    <ul id="exhibitions">
        <li>
            <label>2011</label>
            <span>Installation photography; ‘Cut & Paste’:  Shine, Leeds</span>
        </li>
        <li>
            <label>2011</label>
            <span>Installation, 'M exhibition': The Arches, Leeds</span>
        </li>
        <li>
            <label>2010</label>
            <span>Acrylic painting, ‘A’ lovely Art Gallery’: Blackburn</span>
        </li>
        <li>
            <label>2010</label>
            <span>Collaborative series of photographs,’ Leeds for Light Night’: Leeds College of Art, Blenheim Walk</span>
        </li>
        <li>
            <label>2010</label>
            <span>Series of photographs: Thwaites Mill, Leeds</span>
        </li>
        <li>
            <label>2009</label>
            <span>Series of acrylic paintings: Blackburn College</span>
        </li>
        <li>
            <label>2009</label>
            <span>Acrylic painting, ‘A’ lovely Art Gallery’: Blackburn</span>
        </li>
        <li>
            <label>2008</label>
            <span>Acrylic painting: Blackburn College</span>
        </li>
    </ul>

}

@section Right
{

}

@section Scripts
{

}