
<h2>Index</h2>

@section Styles
{
    <style>
        .info { color:#444; font-size:12px; width:48%; }
        .info h2 { padding:20px 0; margin-bottom:20px; font-size:28px; border-bottom:1px solid #ddd; }
        .info p { line-height:2.0 }
    </style>
}

@section Main
{
    <img src="@Url.Content("~/Content/Images/home.jpg")"/>

    <div class="info left">
        <h2>Heading One</h2>
        <p>
            Jeff Singleton is a Painter, Photographer and Installation artist. His work often
            investigates voyeurism, human behaviour and identity.  Most of his paintings focus
            on various environments and the interaction of life in its surroundings. Dramatic
            light and the contrasting darkness is a method commonly used.
        </p>
    </div>

    <div class="info right">
        <h2>Heading Two</h2>
        <p>
            His installation work is often centred on voyeurism, although this is a common
            theme recognisable in all areas of his work. Photography is used as both an
            accompaniment and as a primary piece.
        </p>
    </div>
}

@section Right
{

}

@section Scripts
{

}