<ul id="gallerySections">
    <li style="border-top:1px dotted #888;">@Html.ActionLink("Paintings", "Paintings")</li>
    <li>@Html.ActionLink("Photography", "Photography")</li>
    <li>@Html.ActionLink("Installations", "Installations")</li>
    <li>@Html.ActionLink("Scultpure", "Sculpture")</li>
</ul>