@model JeffSingleton.Models.ViewModels.LoginModel

@section Styles
{
    <style>
        form { margin:50px 0; }
    </style>
}

@section Main
{
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Incorrect")

        <ul>
            <li>
                <label>Username</label>
                @Html.TextBoxFor(m => m.Username)
            </li>
            <li>
                <label>Password</label>
                @Html.PasswordFor(m => m.Password)
                <input type="submit" value="Login"/>
            </li>
        </ul>
    }
}