@{
    Layout = "";
}

<h2>Login</h2>

@Html.ValidationSummary("Incorrect")

<ul>
    <li>
        <label>Username</label>
        <input type="text" name="username"/>
    </li>
    <li>
        <label>Username</label>
        <input type="password" name="password"/>
    </li>
    <li>
        <label></label>
        <input type="submit" value="Login"/>
    </li>
</ul>