
@section Styles
{
    <style>
        .info { width:48%; }        
        .info h2 { border-bottom:1px solid #ddd; padding:20px 0; font-size:24px; margin-bottom:20px; }
        .info a { color:#444; }
        .info ul li { margin-bottom:20px; }
    </style>
}

@section Main
{
    <img src="@Url.Content("~/Content/Images/home.jpg")"/>

    <div class="info left">
        <h2>Contact</h2>
        <p>For any information about Jeff Singleton or his work, you can contact him at the following email address:</p>
        <p><a href="mailto:jasfineart@gmail.com">jasfineart@gmail.com</a></p>
    </div>

    <div class="info right">
        <h2>Links</h2>
        <ul>
            <li>
                <p>Jeff Singleton Blog - Fine Art PPD1</p>
                <a href="http://jeffsingleton.blogspot.com/">http://jeffsingleton.blogspot.com/</a>
            </li>
            <li>
                <p>Jeff Singleton Blog - BA Fine Art - Year 2</p>
                <a href="http://jasfineart.blogspot.com/">http://jasfineart.blogspot.com/</a>
            </li>
        </ul>
    </div>
}

@section Right
{

}

@section Scripts
{

}

